* {
  margin: 0;
  padding: 0;
}
html, body, #root, #container{
  height: 100%;
  background-color: black;
}
.container{
  position: relative;
}
.canvas{
  position: absolute;
  top: 0;
}
.canvas.mask{
  clip-path: circle(16.6%);
}
.scope {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Размер круга */
  height: 400px;
  border-radius: 50%; /* Создаем круглую маску */
  background-color: transparent; /* Создаем градиент для маски */
  border: 1px solid black ;
  z-index: 2;
}
.scope::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px; /* Размер круга */
  height: 400px;
  background-color: black;
  z-index: 2;
}
.scope::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Размер круга */
  height: 1px;
  background-color: black;
  z-index: 2;
}

